@import "/home/jordan/.cache/wal/colors-waybar.css";

* {
  font-family: "DM Sans", "JetBrainsMono Nerd Font Propo", sans-serif;
  font-size: 14px;
  border-radius: 5px;
  font-weight: bold;
}

window#waybar {
  background-color: transparent;
  color: @foreground;
}


#workspaces {
  background-color: @background;
  padding: 2px 2px 2px 2px;
  border-radius: 5px;
}

#workspaces button.active {
  background-color: @color1;
  color: @foreground;
  padding: 5px 15px;
}

#workspaces button.active:hover {
  color: @background;
  background: @color2;
}

#workspaces button.empty {
  color: @foreground;
}

#workspaces button {
  background-color: @background;
  color: @foreground;
  border: none;
  box-shadow: none;
  text-shadow: none;
  transition: background-color 0.6s ease, color 0.6s ease, padding-left 0.3s ease, padding-right 0.3s ease;
}


#workspaces button:hover {
  background: @color1;
}

#workspaces button.urgent {
  background-color: @color4;
  color: @background;
}

#battery,
#pulseaudio,
#backlight,
#custom-pacman,
#network,
#bluetooth,
#clock,
#custom-weather,
#custom-media,
#window,
#cpu,
#memory,
#custom-power,
#disk,
#tray,
#custom-launcher,
#custom-notification,
#power-profiles-daemon {
  color: @foreground;
  background-color: @background;
  padding: 0 15px 0 15px;
  margin: 0 4px;
}

#custom-volight,
#custom-wifibt{
  font-size: 16px;
  color: @foreground;
  background-color: @background;
  padding: 0;
  margin: 0;
}

#custom-volight {
  padding-left: 15px;
  padding-right: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#custom-volight:hover {
    background-color: @color1;
    color: @background;
}

#custom-wifibt {
  padding-right: 15px;
  padding-left: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#custom-wifibt:hover {
    background-color: @color1;
    color: @background;
}

#custom-power {
    font-size: 24px;
    padding: 0 8px;
}

#custom-power:hover {
    background-color: @color1;
    color: @background;
}

#pulseaudio,
#backlight,
#network,
#bluetooth {
  margin : 0 6px;
}

#window.hidden {
    opacity: 0;
    min-width: 0;
    min-height: 0;
    padding: 0;
    margin: 0;
    border: none;
}

window#waybar.empty #window {
    background-color: transparent;
}

#custom-notifications {
    background-color: @background;
    color: @foreground;
    padding: 0 15px;
    margin: 0 12px;
    padding-left: 11px;
    border-radius: 5px;
}

#custom-notifications:hover {
    background-color: @color1;
    color: @background;
}

#pulseaudio:hover {
    background-color: @color1;
    color: @background;
}

#clock:hover {
    background-color: @color1;
    color: @background;
}

#power-profiles-daemon {
    padding-left: 10px;
}

#power-profiles-daemon.performance {
    background-color: @color1;
}

#power-profiles-daemon.balanced {
    background-color: @color2;
}

#power-profiles-daemon.power-saver {
    background-color: @color4;
}

#power-profiles-daemon:hover{
    background-color: @color1
}





