window {
  background: #0F0F12;
  border-radius: 10px;
  border-style: none;
  border-width: 1px;
  border-color: #6B7A84;
}

#box {
  padding: 10px;
}

#active {
  border-bottom: solid 1px;
  border-color: #eceae5;
}

button, image {
  background: none;
  border-style: none;
  box-shadow: none;
  color: #D2D2CD;
}

button {
  padding: 4px;
  margin-left: 4px;
  margin-right: 4px;
  color: #eceae5;
  font-size: 12px;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 2px;
}

button:focus {
  box-shadow: none;
}
